/*logo pokemon*/

.background-app{
  background-color: #dccffd; 
  padding: 20px;
  margin: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px; 
}

.app-logo {
  width: 250px;
  height: auto; 
}
